/* Reseta algumas propriedades padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #FFEED9;
    font-family: 'Arial', sans-serif;
    /*
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    */
}

header {
    width: 100%;
    
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 50px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6A4E3D;
    font-size: 1.2em;
}

.container {
   
    height: 2000px;
    display: block;
    /* 
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    */
   
   
    background-color: #FFDDBF;
}

.home-section {
   /*  background-color: rgb(5, 3, 3); */
    background-color:#FFEED9;
    height: 1vh;
}

.home-content{
    position: absolute;
    
    width: 95%;
    height: 70%;
    margin-left: 50px;
    display: flex;
   
    
}

.home-title{
    width: 50%;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top:8%;
    

}


h1 {
    font-size: 8em;
    color: #403930;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Eczar";
}

h2 {
    font-size: 3em;
    color: #403930;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Eczar";
}

h3{
    font-size: 1.5em;
    color: #403930;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Eczar";
}

.btn {
    margin-top: 20px;
}

.buttons {
   
    display: flex;
    gap: 20px;
    color: white;
    width: 100%;
    height: 50%;
    justify-content: center;     

}

.btn-login {
    background-color: #8D4E04;
    height: 5em;
    width: 15em;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    
}

.btn-register {
    background-color: transparent;
    height: 5em;
    width: 15em;
    color: #8B5E34;
    padding: 15px 30px;
    border: 5px solid #8B5E34;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    
}

label {
    color: #FFE5CC; /* só consegui retirar os campos email e senha assim!! */
    margin-bottom: 5px;
    display: block;  /* Isso garante que o label fique acima do input */
    text-align: center;
}


.input-field{
    width: 230px;
    height: 50px;
    padding: 10px;
    border: 1.5px solid #000000;
    border-radius: 4px;
}

.submit-btn{
    background-color: #8D4E04;
    height: 3em;
    width: 230px;
    color: white;
    padding: 3px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: #000000;
    margin-top: 5%;
}


.registro-usuario{
    margin-top: 10%;
    margin-left: 10%;
}
form{
    display: flex;
    flex-direction: column;
    
}
.home-image{
    position: relative;
    
    width:auto;
    height: 300px;
    margin-top: 4%;
    margin-left: 5%;
}
.image-placeholder img {
    max-width: 100%;
    height: auto;
}



.login-section, .register-section{
    display: flex;
    justify-content: center; /* Centraliza o conteúdo principal da área no eixo X */
    
    
    width: 100%;
    height: 100%;
}
.login-area, .register-area {
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo principal da área no eixo X */
    border: 2px solid #8D4E04;
    border-radius: 10px;
    background-color: #FFE5CC;
    width: 50%;
    height: 700px;
}

.login-itens-area, .register-itens-area {
    display: flex;
    flex-direction: column; /* Garante que os itens estejam um embaixo do outro */
    align-items: center; /* Centraliza os itens no eixo X */
   
    height: auto;
    width: 50%;
    padding: 20px; /* Adiciona espaçamento interno se necessário */
}

.login-image-area, .register-image-area {
   
    margin-top: 10%;
    width: 50%;
    height: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}


.register-image-area{
  
    margin-bottom: -10px;
}

.login-image, .register-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta a imagem para caber dentro do bloco */
}
