{% extends "main/base.html" %}
{% load static %}

{% block title %}
  Registrar usuário | Café Maestro
{% endblock %}

{% block content %}
<section class="register-section">
  <div class="register-area">

    <div class="register-itens-area">
      <div class="register-image-area">
        <img src="{% static 'images/farmer2.png' %}" alt="farmer2"  >
      </div>
      <!-- <h2>Login no Sistema</h2> -->
      <form action="registrar_usuario" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <div class="btn">
          <button type="submit" class="submit-btn" >Registrar </button>
        </div>
      </form>
      {% if password_error %}
        <h3 style="margin-top: 20px;">Credenciais inválidas</h3>
    </div>
      {% endif %}
    {% endblock %}
    
    </div>
    
</section>
